{% extends 'layout/layout.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

    {% from "_macro.html" import render_field %}

<div class="container">

    <div class="col-lg-8">

        <div class="card mt-5">
                <div class="card-header">
                        cookie
                </div>
                <div class="card-body">
                        <h5 class="card-title">Cookie</h5>

        
                </div>
        </div>
    </div>

</div>
{% endblock %}